@import "variables.css";
@import "reset.css";
@import "loading-style.css";
@import "modal-style.css";
@import "logout-confirmation-modal-style.css";
@import "login-form-style.css";
@import "video-modal-style.css";
@import "view-video-preview-modal-style.css";
@import "input-style.css";
@import "video-preview-modal-style.css";


body {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-container-file {
    margin-bottom: 20px;
}


.wrapper {
    height: 100%;
    padding: 30px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 18px;
    color: var(--primary-color);
    text-transform: uppercase;
    
}

.header div {
    display: flex;
    align-items: center;
    gap: 15px;
}


#header-btn-login-logout {
    padding: 8px;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    border-radius: 4px;
    margin-right: 15px;
    
}


.social-networks {
    display: flex;
    gap: 20px;
}

.social-network-item i {
    color: var(--white);
}




#videos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

#videos-list {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    gap: 30px;
}

.video-item {
    background-color: gray;
    padding: 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    background-image: url(https://media.istockphoto.com/id/1421301993/pt/foto/shopping-cart-sign-on-the-cube-shape-dice.jpg?s=612x612&w=is&k=20&c=9dwAIwsN8AHw_q0WAd3zKP_DRdlTQxrZ1666ZxjzpCg=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.video-item i {
    font-size: 45px;
    color: var(--black);
}

.video-item#create-video {
    background: var(--white);
}

.video-item#create-video i {
    font-size: 30px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social-networks {
    gap: 40px;
}

button#disabled {
    opacity: 0.7;
    cursor: default;
}

@media screen and (max-width: 730px) {
    #videos-list {
        grid-template-columns: 150px 150px 150px;
    }
}

@media screen and (max-width: 900px) {
    #videos-list {
        grid-template-columns: 150px 150px 150px;
    }
}

@media screen and (max-width: 546px) {

    .header div .social-networks {
        display: none;
    }
}

@media screen and (max-width: 536px) {
    #videos-list {
        grid-template-columns: 120px 120px;
    }
}




@media screen and (max-width: 450px) {
    .header-title {
        font-size: 14px;
    }
}



@media screen and (max-width: 360px) {
    #header-btn-login-logout {
        width: 90px;
        margin-left: 40px;
    }
}



@media screen and (max-width: 300px) {
    #videos-list {
        grid-template-columns: 120px;
        margin-top: 50px;
    }
    #header-btn-login-logout {
        width: 90px;
    }
}

