.video-modal-wrapper .modal{
    width: 650px;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.video-title {
    font-size: 16px;
    font-weight: normal;
    font-weight: bold;
    outline: none;
    width: 600px;
    padding: 10px;
    border-radius: 4px; 
    resize: none;
}

.video-player {
    width: 100%;
    margin-top: 20px;
}

.video-date {
    display: block;
    margin-top: 20px;
    color: rgb(55, 54, 54);
}